/* ----- Compact -----
  Shrinks shit like margins/padding for less Wasted space */
/* header */
.p-view_header { height: 28px; }
/* void space below chat box */
.p-notification_bar { height: 12px; }
/* messages and chat box */
.p-message_pane_input, .p-message_pane_message__message .c-message_kit__gutter, .p-message_pane_message__message .c-message_kit__tombstone
{ padding: 8px 8px; }
/* pref modal header */
.c-sk-modal_title_bar { min-height: 0px; padding-top: 1rem; padding-bottom: 0rem; }
.c-sk-modal_header { min-height: 0px; }
