/* hide self from pip */
div[class^=pictureInPictureWindow] div[class^=wrapper]:has(div[data-selenium-video-tile="280411966126948353"])
{ display: none }
/* unmirror personal camera */
.media-engine-video { transform: none }

/* mochie colored mochie background */
div[data-selenium-video-tile="1043599230247374869"] div[class^="background_"] 
{ background-color: #0c0610 !important }

/* make quick actions not look retarded */
.vc-settings-quickActions-card 
{ display: flex; flex-wrap: wrap; }

/* prefer twemoji */
@font-face {
  font-family: "TwemojiColor";
  src: url("https://files.catbox.moe/uxl562.ttf");
}
:root { --font-primary: "gg sans", sans-serif, "TwemojiColor"; }

/* custom home & load icon */
:root {
  :is(div[aria-label="Direct Messages"], video[data-testid="app-spinner"] + div)::before {
    content: '';
    background-image: url(https://files.catbox.moe/ljd7g9.gif) !important;
    background: center/contain no-repeat;
  }
  div[aria-label="Direct Messages"] {
    visibility: hidden;
    position: relative;
    &::before {
      visibility: visible;
      content: '';
      position: absolute; 
      inset: 0;
    }
  }
  video[data-testid="app-spinner"] {
    display: none;
    & + div::before {
      width: 100%;
      height: 160px;
      margin-bottom: 1rem;
      display: block;
    }
  }
}

/* fullwidth message link embeds */
article[class^=embedFlex] { &, & > div {
  width: fit-content;
  max-width: unset;
}}

/* old codeblock font */
:root {
  --font-code: "Consolas", "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco",
    "Courier New", "Courier", "monospace"
}

/* Reduced enhanced markdown margins */
div[class^=message] div[id^=message-content] {
  h1, h2, h3, li { margin: 0px }
  ol, ul { margin-top: 0px }
}

/* hide stickers with a label on intermediary div, (only discord default stickers) */
span[class^="clickableSticker"] > div[aria-label] {
  > div[class^="assetWrapper"] { display: none }
  &::after {
    content: "A sticker was hidden.";
    color: gray; font-weight: 500;
  }
}

/* square-ish avatars */
img[class^="avatar_"] 
{ border-radius: 25% }

/* hide annoying crap */
div[aria-label="Help"], /* Help button */
div[class^=wumpusWrapper], /* I'm new to discord! */
div[class^="socialLinks"], /* Links to discord social media in settings */
ul[aria-label="Direct Messages"]>div[class^="container_"], /* play activity again */
div[class^=controlButton]:has(button[aria-label="Start An Activity"]), /* start activity */
div[class^="threadSuggestionBar_"], /* No, I don't want to make a thread from a chain of more than 2 replies */
div[class^="welcomeCTA"], /* hide prompt to send a sticker when someone joins a server */
div[class^=channelAppLauncher], /* no I don't want to launch an app, I know how to type / */
div[aria-label="User Badges"] > :is([aria-label^=HypeSquad], [aria-label^=Subscriber], [aria-label^="Server boosting"], [aria-label="Early Supporter"]), /* yeet stupid profile badges */
ul[aria-label="Channels"] > div[class^=sectionDivider] /* hide section dividers */
{ display: none !important }
