/**
* @name AlignedChatBox
* @author CodeF53
* @version 5.3
* @description Aligns chat box with the bottom of the screen and user controls
*/

form[class*=formWithLoadedChatInput] {
  padding: 0;
  div[class^=channelTextArea] {
    border-radius: 0;
    --custom-chat-input-margin-bottom: 0pnx;
  }
}
div[class^=sidebar_] > section[class^=panels] {
  --custom-panels-spacing: 0px;
  &, > * { border-radius: 0; }
}

/* fix for catppuccin */
form[class*=formWithLoadedChatInput] {
  div[class^=channelTextArea] {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  & > div[class^=typing_] {
    bottom: unset !important;
    top: -24px !important;
    font-size: 12px !important;
  }
}
