/* ----- Bigger Channel Descriptions -----
  allows for 2 lines of height in channel description */
[class*="chat-"] > [class*="title-"] > [class*="children-"] > [class*="topic-"] {
  white-space: normal;
  max-height: 2.4em;
  font-size: .9em;
  text-overflow: ellipsis;
  position: relative;
}
[class*="chat-"] > [class*="title-"] > [class*="children-"]::after {
  content: unset;
}
[class*="chat-"] > [class*="title-"] > [class*="children-"] > [class*="topic-"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, transparent, var(--background-primary), var(--background-primary)) !important;
  display: flex;
  width: 130px;
}