/* ==UserStyle==
@name           Discord Client Themes Recreation
@namespace      f53
@version        1.2.3
@description    Recreation of treatment 1 of the client themes Discord experiment
@author         F53
@var            number theme-h "Hue (0-360)" [0, 0, 360]
@var            number theme-s "Saturation (0-100%)" [0, 0, 100, "%"]
@var            number theme-l "Lightness (0-100%)" [11, 0, 100, "%"]
==/UserStyle== */

/* default values so the entire client doesn't melt */
:where(:root) {
  --theme-h: 0;
  --theme-s: 0%;
  --theme-l: 11%;
}

:root.theme-dark {
  --primary-600-hsl: var(--theme-h) var(--theme-s) var(--theme-l);

  --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 0.5%);
  --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.9%);
  --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.1%);
  --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.3%);
  --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.4%);
  --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 10.3%);
  --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.3%);
  --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 12.9%);
  --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.5%);
  --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 17.0%);
  --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 21.1%);
}
:root.theme-light {
  --primary-600-hsl: var(--theme-h) var(--theme-s) var(--theme-l);

  --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 10.6%);
  --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 5.5%);
  --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 5.3%);
  --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.2%);
  --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 14.3%);
  --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.5%);
  --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 16.8%);
  --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.2%);
  --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 22.7%);
  --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 26.8%);
  --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 31.8%);
}