/* ==UserStyle==
@name           Discord Client Themes Recreation
@namespace      f53
@version        1.2.3
@description    Recreation of treatment 1 of the client themes Discord experiment
@author         F53
@var            number theme-h "Hue (0-360)" [0, 0, 360]
@var            number theme-s "Saturation (0-100%)" [0, 0, 100, "%"]
@var            number theme-l "Lightness (0-100%)" [11, 0, 100, "%"]
==/UserStyle== */

/* default values so the entire client doesn't melt */
:where(:root) {
  --theme-h: 222.85714285714283;
  --theme-s: 6.666666666666663%;
  --theme-l: 20.588235294117645%;
}

:root:root {
  --primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.90%);
  --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.70%);
  --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.90%);
  --primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.00%);
  --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.60%);
  --primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.70%);
  --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.90%);
  --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.10%);
  --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.60%);
  --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.40%);
  --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.30%);
  --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.70%);
  --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.10%);
  --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.80%);
}