/* Replace dashes with spaces in channel names (yes this is literally just a font that renders - as space) */
@font-face {
  font-family: "Dashless";
  src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
}
[data-list-item-id^=channels___]:not([aria-label*="(direct message)"]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=resultChannel], /* channel name in search */
[class^=placeholder][class*=slateTextArea], /* "Send a message in #blah" */
.channelMention /* channels mentions in chat */
{ font-family: "Dashless", var(--font-primary); }
