/* Focus Mode */
/* Source: https://discord.com/channels/538759280057122817/755005803303403570/851578857001451570 */
/* Updated to use generic class names */
@media screen and (max-width: 1200px) {
  [class^=container_]:has(>[class^=membersWrap]), /* members list */
  [aria-label*="Member List"] /* button to hide/show members list */
  { display: none; }
}
@media screen and (max-width: 1000px) {
  /* channels list */
  nav[class*=guilds] + [class^=base] > [class^=content] > [class^=sidebar] { display: none; }
}
@media screen and (max-width: 900px) {
  /* servers list */
  nav[class*=guilds][class^=wrapper] { display: none;}
}
@media screen and (max-width: 900px) and (max-height: 501px) {
  /* channel header */
  [aria-label="Channel header"] { display: none !important;}
  nav[class*=guilds] + [class^=base] > [class^=content] > [class^=chat] { padding-top: 0px !important;}
}