/* ----- Light Mode Override -----
  Discord devs are retarded and sometimes add theme-light to random shit's classes
  This makes light theme dark theme to bypass that
*/
.theme-light {
  --header-primary: var(--white-500);
  --header-secondary: var(--primary-dark-300);
  --text-normal: var(--primary-dark-200);
  --text-muted: var(--primary-dark-330);
  --text-link: var(--link-500);
  --text-link-low-saturation: var(--link-low-saturation-500);
  --text-positive: var(--status-green-560);
  --text-warning: var(--status-yellow-500);
  --text-danger: var(--status-red-360);
  --text-brand: var(--brand-360);
  --interactive-normal: var(--primary-dark-300);
  --interactive-hover: var(--primary-dark-200);
  --interactive-active: var(--white-500);
  --interactive-muted: var(--primary-dark-500);
  --mention-foreground: var(--brand-260);
  --mention-background: rgba(var(--brand-500-rgb),0.3);
  --background-primary: var(--primary-dark-600);
  --background-secondary: var(--primary-dark-630);
  --background-secondary-alt: var(--primary-dark-660);
  --background-tertiary: var(--primary-dark-700);
  --background-accent: var(--primary-dark-500);
  --background-floating: var(--primary-dark-800);
  --background-nested-floating: var(--primary-dark-630);
  --background-mobile-primary: var(--primary-dark-600);
  --background-mobile-secondary: var(--primary-dark-630);
  --chat-background: var(--primary-dark-600);
  --chat-border: var(--primary-dark-700);
  --chat-input-container-background: var(--primary-dark-600);
  --background-modifier-hover: rgba(var(--primary-dark-500-rgb),0.4);
  --background-modifier-active: rgba(var(--primary-dark-500-rgb),0.48);
  --background-modifier-selected: rgba(var(--primary-dark-500-rgb),0.6);
  --background-modifier-accent: rgba(var(--primary-dark-500-rgb),0.48);
  --info-positive-background: rgba(var(--status-green-600-rgb),0.1);
  --info-positive-foreground: var(--status-green-600);
  --info-positive-text: var(--white-500);
  --info-warning-background: rgba(var(--status-yellow-500-rgb),0.1);
  --info-warning-foreground: var(--status-yellow-500);
  --info-warning-text: var(--white-500);
  --info-danger-background: rgba(var(--status-red-500-rgb),0.1);
  --info-danger-foreground: var(--status-red-500);
  --info-danger-text: var(--white-500);
  --info-help-background: rgba(var(--link-500-rgb),0.1);
  --info-help-foreground: var(--link-500);
  --info-help-text: var(--white-500);
  --status-positive-background: var(--status-green-660);
  --status-positive-text: var(--white-500);
  --status-warning-background: var(--status-yellow-500);
  --status-warning-text: var(--black-500);
  --status-danger-background: var(--status-red-500);
  --status-danger-text: var(--white-500);
  --status-danger: var(--status-red-500);
  --status-positive: var(--status-green-600);
  --status-warning: var(--status-yellow-500);
  --button-danger-background: var(--status-red-530);
  --button-danger-background-hover: var(--status-red-600);
  --button-danger-background-active: var(--status-red-630);
  --button-danger-background-disabled: var(--status-red-530);
  --button-positive-background: var(--status-green-660);
  --button-positive-background-hover: var(--status-green-730);
  --button-positive-background-active: var(--status-green-760);
  --button-positive-background-disabled: var(--status-green-660);
  --button-secondary-background: var(--primary-dark-500);
  --button-secondary-background-hover: var(--primary-dark-430);
  --button-secondary-background-active: var(--primary-dark-400);
  --button-secondary-background-disabled: var(--primary-dark-500);
  --button-outline-danger-text: var(--white-500);
  --button-outline-danger-border: var(--status-red-500);
  --button-outline-danger-background: rgba(var(--white-500-rgb),0);
  --button-outline-danger-background-hover: var(--status-red-530);
  --button-outline-danger-text-hover: var(--white-500);
  --button-outline-danger-border-hover: var(--status-red-530);
  --button-outline-danger-background-active: var(--status-red-560);
  --button-outline-danger-text-active: var(--white-500);
  --button-outline-danger-border-active: var(--status-red-530);
  --button-outline-positive-text: var(--white-500);
  --button-outline-positive-border: var(--status-green-600);
  --button-outline-positive-background: rgba(var(--white-500-rgb),0);
  --button-outline-positive-background-hover: var(--status-green-660);
  --button-outline-positive-text-hover: var(--white-500);
  --button-outline-positive-border-hover: var(--status-green-660);
  --button-outline-positive-background-active: var(--status-green-730);
  --button-outline-positive-text-active: var(--white-500);
  --button-outline-positive-border-active: var(--status-green-730);
  --button-outline-brand-text: var(--white-500);
  --button-outline-brand-border: var(--brand-500);
  --button-outline-brand-background: rgba(var(--white-500-rgb),0);
  --button-outline-brand-background-hover: var(--brand-500);
  --button-outline-brand-text-hover: var(--white-500);
  --button-outline-brand-border-hover: var(--brand-500);
  --button-outline-brand-background-active: var(--brand-560);
  --button-outline-brand-text-active: var(--white-500);
  --button-outline-brand-border-active: var(--brand-560);
  --button-outline-primary-text: var(--white-500);
  --button-outline-primary-border: var(--primary-dark-500);
  --button-outline-primary-background: rgba(var(--white-500-rgb),0);
  --button-outline-primary-background-hover: var(--primary-dark-500);
  --button-outline-primary-text-hover: var(--white-500);
  --button-outline-primary-border-hover: var(--primary-dark-500);
  --button-outline-primary-background-active: var(--primary-dark-430);
  --button-outline-primary-text-active: var(--white-500);
  --button-outline-primary-border-active: var(--primary-dark-430);
  --modal-background: var(--primary-dark-600);
  --modal-footer-background: var(--primary-dark-630);
  --scrollbar-thin-thumb: var(--primary-dark-700);
  --scrollbar-thin-track: rgba(var(--black-500-rgb),0);
  --scrollbar-auto-thumb: var(--primary-dark-700);
  --scrollbar-auto-track: var(--status-grey-700);
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-dark-700);
  --scrollbar-auto-scrollbar-color-track: var(--primary-dark-630);
  --input-background: var(--primary-dark-700);
  --input-placeholder-text: var(--input-placeholder-text-dark);
  --logo-primary: var(--white-500);
  --focus-primary: var(--focus-primary-500);
  --control-brand-foreground: var(--brand-360);
  --control-brand-foreground-new: var(--brand-new-360);
  --background-mentioned: rgba(var(--status-yellow-500-rgb),0.1);
  --background-mentioned-hover: rgba(var(--status-yellow-500-rgb),0.08);
  --background-message-hover: rgba(var(--primary-dark-900-rgb),0.07);
  --background-message-automod: rgba(var(--status-red-500-rgb),0.05);
  --background-message-automod-hover: rgba(var(--status-red-500-rgb),0.1);
  --background-message-highlight: rgba(var(--brand-360-rgb),0.08);
  --background-message-highlight-hover: rgba(var(--brand-360-rgb),0.06);
  --channels-default: var(--primary-dark-345);
  --channel-icon: var(--primary-dark-360);
  --channel-text-area-placeholder: var(--primary-dark-400);
  --channeltextarea-background: var(--primary-dark-560);
  --activity-card-background: var(--primary-dark-700);
  --textbox-markdown-syntax: var(--primary-dark-360);
  --spoiler-revealed-background: var(--primary-dark-660);
  --spoiler-hidden-background: var(--primary-dark-700);
  --android-navigation-bar-background: var(--primary-dark-830);
  --android-ripple: rgba(var(--white-500-rgb),0.07);
  --deprecated-card-bg: rgba(var(--primary-dark-700-rgb),0.6);
  --deprecated-card-editable-bg: rgba(var(--primary-dark-700-rgb),0.3);
  --deprecated-store-bg: var(--primary-dark-600);
  --deprecated-quickswitcher-input-background: var(--primary-dark-400);
  --deprecated-quickswitcher-input-placeholder: rgba(var(--white-500-rgb),0.3);
  --deprecated-text-input-bg: var(--primary-dark-700);
  --deprecated-text-input-border: rgba(var(--black-500-rgb),0.3);
  --deprecated-text-input-border-hover: var(--primary-dark-900);
  --deprecated-text-input-border-disabled: var(--primary-dark-700);
  --deprecated-text-input-prefix: var(--primary-dark-200);
}