/**
* @name RolePills
* @author CodeF53
* @version 1.0
* @description Changes background color of role pill to be role color 
*/
[class*="role_"] [class*="roleCircle_"]:before,
[class*="actionButton_"][class*="role_"][class*="justifyCenter_"] {
  border-radius: 3px;
}
[class*="role_"] {
  transform: translate(0);
  border: 0;
}
[class*="role_"] [class*="roleRemoveIcon_"] {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}
[class*="role_"] [class*="roleRemoveButton_"] {
  position: static;
}
[class*="root_"]>[class*="role_"] [class*="roleCircle_"]:before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border: 2px solid transparent;
  opacity: .4;
}
[class*="roles_"] {
  color: var(--text-normal);
}
