/* ----- Shrunken Search Bar -----
  Makes search the size of any other button until clicked
  When clicked it smoothly expands to normal shape */
[class*="toolbar_"] [class*="searchBar_"] {
  background: none;
  width: 24px;
  color: var(--color-text);
  transition: width 0.2s, padding 0.5s;
  padding: 0 !important;
}
[class*="toolbar_"] [class*="searchBar_"] [class*="iconContainer_"] {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}
[class*="toolbar_"] [class*="searchBar_"] svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
  padding: 0.5px;
}
[class*="toolbar_"] [class*="open_"] [class*="searchBar_"] {
  width: 300px;
  padding: 0 10px !important;
}
[class*="toolbar_"] [class*="open_"] [class*="searchBar_"] svg {
  color: var(--text-muted);
  transform: scale(0.8);
}