/* ----- Shrunken Search Bar -----
  Makes search the size of any other button until clicked
  When clicked it smoothly expands to normal shape */
[class*="toolbar-"] > [class*="search-"] [class*="searchBar-"] {
  background: none;
  width: 24px;
  color: var(--color-text);
  transition: width 0.2s, padding 0.5s;
  padding: 0 !important;
}
[class*="toolbar-"] > [class*="search-"] [class*="searchBar-"] [class*="iconContainer-"] {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}
[class*="toolbar-"] > [class*="search-"] [class*="searchBar-"] svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
  padding: 0.5px;
}
[class*="toolbar-"] > [class*="search-"] > [class*="open-"] [class*="searchBar-"] {
  width: 300px;
  padding: 0 10px !important;
}
[class*="toolbar-"] > [class*="search-"] > [class*="open-"] [class*="searchBar-"] svg {
  color: var(--text-muted);
  transform: scale(0.8);
}