/* ----- Yeet Stickers -----
  eradicates all instances of stickers, sticker prompts */

/* hide sticker button in chat */
button[aria-label="Open sticker picker"] { display: none; }
/* hide sticker picker tab in emoji menu */
#sticker-picker-tab { display: none; }
/* replace sent stickers with "A sticker was hidden" */
[class*="clickableSticker"] > div > [class*="assetWrapper"] {
  display: none;
}
[class*="clickableSticker"]::after {
  content: "A sticker was hidden.";
  color: gray;
  font-weight: 500;
}
/* hide prompt to send a sticker when someone joins a server */
[class*="welcomeCTA"] { display:none; }

/* hide other stickers */
[aria-label*="Sticker"] { display: none; }

/* hide "Wave to username" in dms */
[aria-label="Sticker, Wave, Wumpus waves hello"] ~ button {
  display: none;
}
